<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871301346793-4pfd2t53aldo8vqs7tldbsutfg7be7bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871301346793-4pfd2t53aldo8vqs7tldbsutfg7be7bg</string>
	<key>API_KEY</key>
	<string>AIzaSyBNsUOLiieWAem_ChcfjQ2n_HwnLxNivaA</string>
	<key>GCM_SENDER_ID</key>
	<string>871301346793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eldorado.VeganOptions</string>
	<key>PROJECT_ID</key>
	<string>veganoptions-51edf</string>
	<key>STORAGE_BUCKET</key>
	<string>veganoptions-51edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871301346793:ios:2d0c62cf57483eec</string>
	<key>DATABASE_URL</key>
	<string>https://veganoptions-51edf.firebaseio.com</string>
</dict>
</plist>