<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639865540417-i2qh59d188c2d9m8qslheqrtfkuql4nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639865540417-i2qh59d188c2d9m8qslheqrtfkuql4nd</string>
	<key>API_KEY</key>
	<string>AIzaSyAyErQb8lUWVkdRLWPkM4tOxikYqBZn3q4</string>
	<key>GCM_SENDER_ID</key>
	<string>639865540417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eldorado.VegOptionsPOA</string>
	<key>PROJECT_ID</key>
	<string>veganoptionspoa</string>
	<key>STORAGE_BUCKET</key>
	<string>veganoptionspoa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639865540417:ios:0a6a44f4a14b3abf</string>
	<key>DATABASE_URL</key>
	<string>https://veganoptionspoa.firebaseio.com</string>
</dict>
</plist>